<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="IdsRunnerCommands" type="IdsRunner.Utils.IdsRunnerCommandsConfig,IdsRunner" />
  </configSections>
  <appSettings>
    <!--
    * Port > 0  -> in diesem Fall muss "BaseUrl" nur genau eine gültige IP-Adresse enthalten, und die ServiceUrl
                   wird zusammen gesetzt aus:  http://$(baseUrl):$(port)/api/json
                   
    * Port <= 0 -> in diesem Fall enthält "BaseUrl" die gesamte URL (mit http://, Port, Pfad) und wird direkt 1:1 als ServiceUrl benutzt
    -->
    <add key="BaseUrl" value="172.17.1.116" />
    <add key="Port" value="9090" />
    <!--
    Verzeichnis, in das die Requests und Responses gelogged werden (also JSON Textfiles)
    -->
    <add key="LogDirectory" value="logs" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <IdsRunnerCommands>
    <Commands>
      <!--
      Liste der unterstützten Commands.
      clientMethod = Name der Methode gemäss DLL Spezifikation (required)
      longCommand = "langer" Kommandoname für die Benutzung mit IDSRunner (required)
      shortCommand = optionaler "kurzer" Kommandoname (optional)
      
      Die kurzen und langen Kommandonamen müssen eindeutig sein!
      -->
      <!-- DLL-spezifische Methoden -->
      <Command clientMethod="IDS_GetDllVersion" shortCommand="ver" longCommand="getDllVersion" />
      <Command clientMethod="IDS_GetDllInfo" shortCommand="info" longCommand="getDllInfo" />
      <!-- Network -->
      <Command clientMethod="IDS_GetIpAddress" shortCommand="ip" longCommand="getIp" />
      <Command clientMethod="IDS_GetSubnetMask" longCommand="getsubnet" />
      <Command clientMethod="IDS_GetGateway" longCommand="getgateway" />
      <!-- System -->
      <Command clientMethod="IDS_SoftwareUpdate" shortCommand="upd" longCommand="softwareupdate" />
      <Command clientMethod="IDS_GetSoftwareVersion" shortCommand="swver" longCommand="getSoftwareVersion" />
      <Command clientMethod="IDS_GetFpgaVersion" shortCommand="fpgaver" longCommand="getFpgaVersion" />
      <Command clientMethod="IDS_FactoryReset" shortCommand="fr" longCommand="factoryReset" />
      <Command clientMethod="IDS_RebootSystem" shortCommand="rs" longCommand="reboot" />
      <Command clientMethod="IDS_ErrorNumberToString" shortCommand="error" longCommand="errorNumberToString" />
      <!-- Realtime Output -->
      <Command clientMethod="IDS_GetRtOutMode" shortCommand="getrt" longCommand="getRtOutMode" />
      <Command clientMethod="IDS_SetRtOutMode" shortCommand="setrt" longCommand="setRtOutMode" />
      <Command clientMethod="IDS_GetResolutionHsslLow" longCommand="getResolutionHsslLow" />
      <Command clientMethod="IDS_SetResolutionHsslLow" longCommand="setResolutionHsslLow" />
      <Command clientMethod="IDS_GetResolutionHsslHigh" longCommand="getResolutionHsslHigh" />
      <Command clientMethod="IDS_SetResolutionHsslHigh" longCommand="setResolutionHsslHigh" />
      <Command clientMethod="IDS_GetPeriodHsslClk" longCommand="getPeriodHsslClk" />
      <Command clientMethod="IDS_SetPeriodHsslClk" longCommand="setPeriodHsslClk" />
      <Command clientMethod="IDS_GetPeriodHsslGap" longCommand="getPeriodHsslGap" />
      <Command clientMethod="IDS_SetPeriodHsslGap" longCommand="setPeriodHsslGap" />
      <Command clientMethod="IDS_GetPeriodSinCosClk" longCommand="getPeriodSinCosClk" />
      <Command clientMethod="IDS_SetPeriodSinCosClk" longCommand="setPeriodSinCosClk" />
      <Command clientMethod="IDS_GetResolutionSinCos" longCommand="getResolutionSinCos" />
      <Command clientMethod="IDS_SetResolutionSinCos" longCommand="setResolutionSinCos" />
      <!-- Axis -->
      <Command clientMethod="IDS_GetPassMode" shortCommand="getpass" longCommand="getPassMode" />
      <Command clientMethod="IDS_SetPassMode" shortCommand="setpass" longCommand="setPassMode" />
      <!-- Pilot laser -->
      <Command clientMethod="IDS_GetPilotLaserEnabled" shortCommand="getpilot" longCommand="getPilotLaserEnabled" />
      <Command clientMethod="IDS_EnablePilotLaser" longCommand="enablePilotLaser" />
      <Command clientMethod="IDS_DisablePilotLaser" longCommand="disablePilotLaser" />
      <!-- Displacement -->
      <Command clientMethod="IDS_GetAverageN" shortCommand="getavg" longCommand="getAverageN" />
      <Command clientMethod="IDS_SetAverageN" shortCommand="setavg" longCommand="setAverageN" />
      <Command clientMethod="IDS_GetAbsolutePosition" shortCommand="getabspos" longCommand="getAbsolutePosition" />
      <Command clientMethod="IDS_GetAbsolutePositions" longCommand="getAbsolutePositions" />
      <Command clientMethod="IDS_GetAxisDisplacement" longCommand="getAxisDisplacement" />
      <Command clientMethod="IDS_GetAxesDisplacement" longCommand="getAxesDisplacement" />
      <Command clientMethod="IDS_GetSignalQuality" longCommand="getSignalQuality" />
      <!-- Adjustment -->
      <Command clientMethod="IDS_GetContrastInPermille" longCommand="getContrastInPermill" />
      <!-- IDS System -->
      <Command clientMethod="IDS_GetCurrentMode" shortCommand="getCurrent" longCommand="getCurrentMode" />
      <Command clientMethod="IDS_StartOpticsAlignment" shortCommand="stoa" longCommand="startOpticsAlignment" />
      <Command clientMethod="IDS_StopOpticsAlignment" shortCommand="spoa" longCommand="stopOpticsAlignment" />
      <Command clientMethod="IDS_StartMeasurement" shortCommand="stm" longCommand="startMeasurement" />
      <Command clientMethod="IDS_StopMeasurement" shortCommand="spm" longCommand="stopMeasurement" />
      <Command clientMethod="IDS_ResetAxis" shortCommand="ra" longCommand="resetAxis" />
      <Command clientMethod="IDS_ResetAxes" shortCommand="raa" longCommand="resetAxes" />
      <!-- ECU -->
      <Command clientMethod="IDS_GetEcuEnabled" shortCommand="getecu" longCommand="getEcuEnabled" />
      <Command clientMethod="IDS_EnableEcu" longCommand="enableEcu" />
      <Command clientMethod="IDS_DisableEcu" longCommand="disableEcu" />
      <Command clientMethod="IDS_GetECUTemperatureInDegrees" shortCommand="getecutemp" longCommand="getECUTemperatureInDegrees" />
      <Command clientMethod="IDS_GetPressureInHPa" shortCommand="getpress" longCommand="getPressureInHPa" />
      <Command clientMethod="IDS_GetHumidityInPercent" shortCommand="gethum" longCommand="getHumidityInPercent" />
      <Command clientMethod="IDS_GetRefractiveIndex" longCommand="getRefractiveIndex" />
    </Commands>
  </IdsRunnerCommands>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>